/* universal Selector */
* {
  color: black;
}
body {
  background-color: khaki;
}

/* selector Grouping */
p,
h1 {
  background-color: greenyellow;
}
/* single selector */
h1 {
  font-size: 15px;
}

/* atribut posisi */
.posisi {
  text-align: center;
}

/* selector by id */
#bold {
  font-weight: bold;
}
div {
  background-color: greenyellow;
  height: 200px;
}
img {
  width: 400px;
  height: 200px;
  float: left;
}
